/* General Styles */
body {
  font-family: 'JetBrains Mono', monospace;
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
}

h1, h2, h3 {
  color: #ffdd57;
  line-height: 1.2;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #ffdd57;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: #ffd700;
}

img.responsive {
  max-width: 150px;
  height: auto;
  border-radius: 50%;
}

header {
  text-align: center;
  padding: 30px;
  background-color: #1e1e1e;
  border-bottom: 2px solid #ffdd57;
}

#dark-mode-toggle {
  background: #2b2b2b;
  border: 2px solid #ffdd57;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}

#dark-mode-toggle:hover {
  background: #ffdd57;
  color: #121212;
}

#dark-mode-icon {
  width: 24px;
  height: 24px;
}

section {
  margin: 20px auto;
  max-width: 800px;
  padding: 30px;
  background-color: #2b2b2b; /* Lighter than #1e1e1e */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h2 {
  border-bottom: 2px solid #ffdd57;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

ul li {
  margin-bottom: 15px;
}

article {
  margin-bottom: 30px;
}

footer {
  text-align: center;
  padding: 30px;
  background-color: #2b2b2b;
  border-top: 2px solid #ffdd57;
}

footer p {
  margin: 10px 0;
  font-size: 16px;
}

footer a:hover {
  text-decoration: underline;
  color: #ffd700;
}

/* Dark Mode Specific Styles */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode header {
  background-color: #1e1e1e;
}

.dark-mode section {
  background-color: #2b2b2b;
}

.dark-mode footer {
  background-color: #2b2b2b;
}
